.banks{
    .md-table{
        overflow-x: auto;
        width:100%;
    }
    #spinner{
    width:50%;
    position: absolute;
    top:45%;
    left:45%;
    }
    .md-card{
        margin: 1%;
        overflow: hidden;
        border-radius: 4px;
    }
    .md-layout{
        
        padding:0 2%;
    }
}

@media screen and (max-width: 39.95em){
    .banks{
        #spinner{
            width:50%;
            position: absolute;
            top:40%;
            left:37%;
        }
    }  
}
